:root {
  --pink-yellow-gradient: linear-gradient(90deg, #ec597f, #f48554 90%);
  --colorful-gradient: linear-gradient(90deg, #ffc170, #ec787f, #8980ed);
  --link-gradient: linear-gradient(315deg, #abe9cd, #3eadcf 90%);
  --link-hover-gradient: linear-gradient(316deg, #ffe190 0%, #fa9e8c 74%);
  --green-gradient: linear-gradient(
    90deg,
    rgb(0, 158, 119) 0%,
    rgb(0, 153, 192) 100%,
    rgb(2, 127, 255) 200%,
    rgb(88, 86, 214) 300%,
    rgb(29, 29, 31) 400%
  );
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h3 {
  font-size: 32px;
  margin: 0;
}

h2 {
  font-size: 46px;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.container--hero {
  max-width: 400px;
  padding: 20px;
}

.projects {
  overflow: hidden;
  padding: 100px 20px;
}

.container--projects {
  max-width: 700px;
}

.container--about {
  max-width: 500px;
  padding: 20px;
}

.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.waving {
  animation: wave-animation 3s infinite;
  transition: all 0.3s ease-in-out;
  transform-origin: 70% 70%;
  display: inline-block;
}

.projects-link,
.contact-link,
.about-link,
.linkedin-link,
.contact-email {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease 0s, color 0.2s ease 0s;
}

.linkedin-link {
  background-image: var(--pink-yellow-gradient);
}

.projects-link,
.contact-link,
.about-link,
.contact-email {
  font-size: 22px;
  font-weight: bold;
  background-image: var(--link-gradient);
  -webkit-font-smoothing: antialiased;
}

.about-passions {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--pink-yellow-gradient);
}

.about-contact {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--colorful-gradient);
}

.projects-link:hover,
.contact-link:hover,
.about-link:hover,
.linkedin-link:hover,
.contact-email:hover {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  transform: translateX(3px);
}

.projects-link:hover,
.contact-link:hover,
.about-link:hover,
.contact-email:hover {
  background-image: var(--link-hover-gradient);
}

.linkedin-link:hover {
  background-image: var(--colorful-gradient);
}

.projects-link,
.about-link {
  margin-right: 10px;
}

.project-item hr {
  border: none;
  height: 1px;
  margin-bottom: 16px;
  margin-top: 12px;
  width: 100%;
}

.project-item {
  border-radius: 32px;
  margin-bottom: 32px;
  padding: 32px 32px 24px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.project-item p {
  margin-bottom: auto;
  font-size: 16px;
}

.project-item p + a {
  margin-top: 24px;
}

.project-item--buttons {
  margin-top: 24px;
}

.project-item .project-item-button {
  background-color: #fff;
  border-radius: 12px;
  color: #242424;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 6px 16px;
  text-decoration: none;
  transition: background-color 0.2s cubic-bezier(0.5, 1, 0.5, 1),
    color 0.2s cubic-bezier(0.5, 1, 0.5, 1);
  position: relative;
}

.project-item--pink {
  margin-top: 40px;
  background-image: var(--pink-yellow-gradient);
  opacity: 0.9;
  color: #fff;
}

.project-item--white {
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color: #000;
}

.project-item--white .project-item-button {
  color: #fff;
  background-color: #000;
}

.project-item--black {
  background-color: #000;
  color: #fff;
}

.project-item-button:hover {
  color: #fff;
  background-color: transparent;
}

.project-item--white .project-item-button:hover {
  color: #000;
}

.project-item-button span {
  display: inline-block;
  position: relative;
}

.project-item-button span:before {
  content: " ";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: currentColor;
  height: 1px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  z-index: 99;
}

.project-item-button:hover span:before,
.project-item-button span:hover:before {
  left: 0;
}

.project-title h2 {
  font-size: 24px;
}

.projects-header span {
  font-size: 46px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background-image: var(--green-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-header span::after {
  content: "";
  background-image: var(--link-gradient);
  opacity: 0.2;
  position: absolute;
  border-radius: 12px;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.projects-header span:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}

.about-copy {
  margin-top: 24px;
  font-size: 22px;
  text-align: center;
}

.say-hi--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.say-hi {
  font-size: 46px;
  background-image: var(--green-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.say-hi--icon {
  max-width: 80px;
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: var(--pink-yellow-gradient);
  width: 250px;
  height: 250px;
}

.about-image img {
  max-width: 200px;
  object-fit: contain;
}

.contact p {
  margin: 0;
  font-size: 22px;
}

.back-link {
  align-self: flex-start;
  font-size: 12px;
  text-decoration: none;
  border-radius: 980px;
  padding: 8px 16px;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  background: #f5f5f7;
  color: #1d1d1f;
  transition: 3s background linear;
}

.back-link:hover {
  background: var(--link-gradient);
  opacity: 0.5;
}

footer {
  padding: 10px 20px;
}

footer hr {
  background-color: #ec597f;
  max-width: 800px;
  margin: 0 auto;
  border: none;
  height: 1px;
}

footer .footer--content {
  max-width: 800px;
  color: #ec597f;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

footer .footer--content--text a {
  text-decoration: none;
  color: rgb(0, 158, 119);
}

footer .footer--content--text a:hover {
  color: #8980ed;
}

footer .footer--social {
  list-style: none;
  display: flex;
  flex-direction: row;
}

footer .footer--social a {
  text-decoration: none;
  color: #ec597f;
  padding-left: 10px;
}

footer .footer--social a:hover {
  color: #f48554;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 1024px) {
  .cursor {
    width: 30px;
    height: 30px;
    background-image: url(images/video-game.png);
    background-size: cover;
    z-index: 999;
    position: fixed;
    left: 15px;
  }
}

@media (min-width: 768px) {
  .project-item--white,
  .project-item--black {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  footer p {
    display: block;
  }
}
